*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
    scroll-behavior: smooth;
}
header{
    background-color:black ;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
}
.logo span{
    color: red;
    font-weight: bold;
    font-size: 2.0rem;
}
.navigation a{
    color: rgb(248, 243, 243);
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
    padding-left: 30px;
}
.navigation .active{
    color: red;
}
.navigation a:hover{
    color: red;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid white;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 400px;
    transition: 0.5s;
}
.content a:hover{
    -webkit-text-stroke: 2px white ;
    color: transparent;
}
.back-video{
    position: absolute;
    z-index: -1;
}
.content1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap ;
}
.card{
    background-color: #fff;
    width: 15em;
    height: 280px;
    box-shadow: 0 10px 25px rgba(1 1 1 / 80%);
    border-radius: 20px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.img1{
    width: 180px;
    height: 140px;
    border-radius: 15px;
    margin-left: 5px;
}
.card:hover{
    transform: scale(1.07);
}
.info h3{
    color: #f40909;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
}
.info .btn a{
    text-decoration: none;
    color: #0c0c0c;

}
.info .btn{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    border: 0.5px  white;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: rgb(249, 151, 4);
    margin: 10px 28px;

}

.info .btn:hover{
    border: none;
    transform: scale(1.09);
}



